@keyframes scroll {
    0% {
      transform: translateY(60%);
    }
    50% {
        transform: translateY(-60%);
      }
    100% {
      transform: translateY(60%);
    }
  }
  
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    overflow: hidden;
    z-index: -1;
  }
  
  .background {
    animation: scroll 155s linear infinite alternate; /* Rotate the background */
    background: url('/banknote.svg');
    background-repeat: repeat; /* Repeat the banknote background */
    width: 100%; /* Adjust as needed based on your design */
    height: 100%; /* Adjust as needed based on your design */
    transform-origin: center;
  }
  .content {
    margin-top: 5vh;
  }